body {
  font-family: var(--app_font_mono);
}

button {
  cursor: pointer;
  font-family: var(--app_font_mono);
  padding: 5px;
}
input {
  font-family: var(--app_font_mono);
}

.btn-primary {
  background-color: #333333;
  border-radius: 3px;
  border: none;
  color: #CECECE;
  min-width: 100px;
  outline: none;
  padding: 10px 20px;

  .icon {
    color: #fff;
    max-height: 40px;
  }
}

.app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  background-color: var(--app_color_green);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  width: 100%;

  h1 {
    color: #fff;
  }
}

.main-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.main-footer {
  background-color: var(--app_color_black);
  box-sizing: border-box;
  color: #fff;
  font-size: 0.625rem;
  justify-self: flex-end;
  padding: 10px 5px;
  text-align: center;
  width: 100%;
}