
.metronome {

    .play-btn {
        .pause {
            display: none;
        }
        &.playing {
            .pause {
                display: inline-block;
            }
            .play {
                display: none;
            }
        }
    }
    
}