:root {

    --app_font_main: Arial, Helvetica, sans-serif;
    --app_font_mono: "Chivo Mono", system-ui;

    --app_color_green: #005c57;
    --app_color_black: #1E1E1E;
    --app_color_light-grey: #eee;
}

